.avatar {
  border: 0px solid transparent;
  color: #fff;
}
.centre {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.user-container {
  border: 2px solid var(--sec-dark-purple);
  border-radius: 8px;
  min-width: 400px;
  display: flex;
  align-items: center;
  padding: 30px;
  flex-direction: column;
}
.btn-container {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
}
.user-main {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
