.aside-sec-heading {
  padding: 0 16px;
}
.aside-sec-heading > a {
  text-decoration: underline;
  color: var(--sec-dark-purple);
}
.product-page {
  /* height: 100vh; */
  display: flex;
}

.product-page-aside {
  background-color: var(--lightmode-bg-color);
  width: 20vw;
}
.product-page-main {
  background-color: #f7f7f7;
  width: 80vw;
}
.dis-f {
  display: flex;
}
.f-space-btw {
  justify-content: space-between;
}
.mgT-20 {
  margin-top: 20px;
}
.mgT-40 {
  margin-top: 40px;
}
.mgT-8 {
  margin-top: 8px;
}
.mgT-4 {
  margin-top: 4px;
}
.mgT-16 {
  margin-top: 16px;
}
.product-page-main-heading {
  display: flex;
  align-items: center;
  gap: 10px;
}
/* clear all btn */
.clear-btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
  text-decoration: underline;
}
