.navbar-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav-container-startsec > img {
  width: 64px;
  height: 64px;
  transform: skew(15deg, 15deg);
}

/* CL  */
.navigation {
  z-index: 1;
  position: sticky;
  top: 0px;
  left: 0px;
  box-shadow: 0px 8px 29px -8px rgba(168, 168, 168, 0.42);
  border-radius: 0px;
  display: flex;
  flex-direction: row;
  text-transform: capitalize;
  font-weight: 500;
  background-color: var(--lightmode-bg-color);
  padding: 20px 70px;
  justify-content: space-between;
}
.nav-container-startsec {
  display: flex;
  align-items: center;
}
.nav-container-startsec > i {
  margin-right: 2rem;
  color: var(--sec-dark-purple);
  cursor: pointer;
}
.nav-title {
  font-weight: 500;
}
.nav-container-endsec {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}
.nav-container-endsec > i {
  cursor: pointer;
}
.size {
  font-size: 25px;
  color: var(--heading-black);
}
.search-btn > input {
  padding: 11px 1rem 8px 4rem;
}
